Source: vulkan-headers
Section: graphics
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>= 10),
 cmake
Standards-Version: 4.1.2
Homepage: https://github.com/KhronosGroup/Vulkan-Headers
Vcs-Git: https://github.com/KhronosGroup/Vulkan-Headers
Vcs-Browser: https://github.com/KhronosGroup/Vulkan-Headers

Package: vulkan-headers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vulkan header files and API registry
